* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: chocolate;
}

.panel {
    padding: 10em 29em;
}

.form {
    padding: 2em;
    border-radius: 0.3em;
    border: 1px solid lightblue;
}

.panel > p {
    font-size: 1.4em;
}


